<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<style>
    * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    body {
        justify-content: space-around;
        text-align: center;
    }
    form {
        flex-wrap: wrap;
    }
</style>

<body>

    <h1>Contact us</h1>


        <form action="/" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="text" placeholder="Type your name..." name="name">
            <input type="email" placeholder="Type your mail..." name="email">
            <input type="description" placeholder="Description..." name="description">
            <button type="submit">Send</button>
        </form>

</body>

</html>